sbp="edpa301-itcs" # 256
MQTT_HOST="0.0.0.0"
MQTT_PORT="1883"
MQTT_WS_PORT="8888"
MQTT_BROKER_URL="mqtt://localhost:1883"
MQTT_ENABLED="true"
CORS_ORIGIN="http://localhost:3001"
VITE_MQTT_BROKER_URL="ws://localhost:8888"
